
name: CI/CD

on:
  pull_request_target:
    types:
      - closed
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        env:
          CLOUD_AWS_CREDENTIALS_ACCESS_KEY: ${{secrets.CLOUD_AWS_CREDENTIALS_ACCESS_KEY}}
          CLOUD_AWS_CREDENTIALS_SECRET_KEY: ${{secrets.CLOUD_AWS_CREDENTIALS_SECRET_KEY}}
        run: ./gradlew clean build

      - name: create env file
        run: |
          cat << EOF >> .env
          CLOUD_AWS_CREDENTIALS_ACCESS_KEY=${{secrets.CLOUD_AWS_CREDENTIALS_ACCESS_KEY}}
          CLOUD_AWS_CREDENTIALS_SECRET_KEY=${{secrets.CLOUD_AWS_CREDENTIALS_SECRET_KEY}}
          EOF

      - name : Make zip file
        run: zip -r ./$GITHUB_SHA.zip .

      - name : Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        env:
            AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
            AWS_SECRET_KEY: ${{secrets.AWS_SECRET_KEY}}
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_KEY}}
          aws-region : ap-northeast-2

      - name : Upload to S3
        env:
            S3_BUCKET_NAME: ${{secrets.DEPLOY_S3_BUCKET_NAME}}
        run : aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://$S3_BUCKET_NAME/$GITHUB_SHA.zip

      - name: Code Deploy
        env:
            S3_BUCKET_NAME: ${{secrets.DEPLOY_S3_BUCKET_NAME}}
        run: aws deploy create-deployment --application-name waitforme --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name waitforme-group --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=$GITHUB_SHA.zip
